body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
#pokedex {
    min-height: 50vh;
    background-color: rgb(252 108 109);
    color: white;
    display: flex;
    padding: 24px;
    border-radius: 20px;
}

.info-container {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -40px;
    min-height: 100px;
}

.info-container img {
    height: 500px;
    width: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-250px);
    top: 70px;
}
.Characters {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.d-none {
    display: none;
}
#characters2 {
    padding-left: 20px;
    display: flex;
}

.characters1 {
   
   margin-left: 50px;
   
    
}



.basestatscomplete {
    display: flex;
    padding-left: 20px;
}

.values {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.progress {
    width: 400px;
    margin-bottom: 19px;
    height: 5px !important;
    
    
}

.progressbars {
    margin-top: 9px;
    margin-left: 20px;
}

.pokediv {
    height: 150px;
    width: 200px;
    margin: 10px;
    color: white;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    overflow: hidden;
    display: flex;
    border-radius: 20px;
    
    
}

.pokediv:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.pokediv img {
    height: 120px;
}

.pokebox {
    width: 500px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#showroom {
    height: 800px;
    width: 800px;
    margin-left: 146px;
    margin-top: 50px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
   
}

.d-none {
    display: none;
}


.all {
    display: flex;
}

.choices:hover {
    cursor: pointer;
    
}

.choices {
    font-weight: bold;
}

.statuschoice {
    height: 10px;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    position: relative;
    
}

.statusblue {
    position: absolute;
    height: 10px;
    background-color: blue;
    border-radius: 10px;
    width: 50px;
    margin-left: 17px;
    transition: 0.1s ease-in-out;
}



#statusred {
    position: absolute;
    height: 10px;
    border-radius: 10px;
    right: 5px;
    background-color: red;
    width: 50px;
    right: 18px;
}







